[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rkeops"]
	path = rkeops
	url = https://github.com/getkeops/keops
	subdir = rkeops
